/* black and gold theme*/
body {
    margin: 0;
    padding: 0;
    background: #000000;
    display: flex;
    font-family: "Inter", Arial, sans-serif;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: #f5d66c;
    /* soft gold text */
}